{% extends 'base.html' %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}

<div class="login-container">
    <div class="login">
        <div class="h-center">
            <h2 class="h1">Изменение пароля</h2>
        </div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            {% if form.non_field_errors %}
            <div class="form-fields-errors">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% for f in form %}
            <p><label for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
            <div>{{ f.errors }}</div>
            {% endfor %}
            <div class="login-buttons">
                <button class="btn-green" type="submit">Изменить</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}