{% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% load custom_filters %}
{% block title %}{{ title }}{% endblock %}





{% block content %}

{% block breadcrumbs %}
{% endblock %}

<div class="recipe-detail">


<!-- Теги -->
{% with recipe.tags.all as tags %}
  {% if tags %}
    <div class="">
        {% for t in tags %}
        <a class="tag-link" href="{% url 'recipes:tag' %}?&tags_sidebar={{ t.slug }}">{{t.name_tag}}</a>
        {% endfor %}
    </div>
  {% endif %}
{% endwith %}


    <div class="interaction-buttons-container">
        <div class="rating">
            {% ratings recipe icon_height=25 icon_width=25 %}
        </div>

        <div class="right-icons">
            <div class="favorite-button-container">
                {% if in_favorite %}
                    <button data-favorite-action="remove" data-recipe-id="{{ recipe.id }}" class="remove-from-favorites-button" title="Удалить из избранного">
                        <i class="ion ion-md-heart"></i>
                    </button>
                {% else %}
                    <button data-favorite-action="add" data-recipe-id="{{ recipe.id }}" class="add-to-favorites-button" title="Добавить в избранное">
                        <i class="ion ion-md-heart"></i>
                    </button>
                {% endif %}
                <span class="favorite_count">{{ recipe.favorite_set.count }}</span>
            </div>

            <div class="comments-link-container">
                <a class="comments-link" href="#comments" title="Комментарии">
                    <i class="ion ion-md-text"></i>
                </a>
                <span class="comments-count">{{ recipe.comments.count }}</span>
            </div>

            <div class="basket-button-container">
                {% if in_basket %}
                    <button data-basket-action="remove" data-recipe-id="{{ recipe.id }}" class="remove-from-basket-button" title="Удалить из корзины">
                        <i class="ion ion-md-cart"></i>
                    </button>
                {% else %}
                    <button data-basket-action="add" data-recipe-id="{{ recipe.id }}" class="add-to-basket-button" title="Добавить в корзину">
                        <i class="ion ion-md-cart"></i>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="title-author">
        <h1 class="h1"><b>{{ recipe.title }}</b></h1>
        <span><p>Автор: <a href="{{ recipe.author.get_absolute_url }}">{{ recipe.author }}</a></p></span>
    </div>


  {% if recipe.image_ready_dish %}
  <div><img src="{{ recipe.image_ready_dish.url }}" class="recipe-detail-image-ready-dish" alt="Фото готового блюда {{ recipe.title }}"></div>
  {% endif %}

  <p class="recipe-detail-description">{{ recipe.description }}</p>

  <div class="recipe-detail-info">
    <p>
      <span>Количество порций:</span> <span><b>{{ recipe.portions }}</b></span>
    </p>
    <p>
      <span>Готовка:</span> <span><b>{{ recipe.cooking_time }}</b></span> <span>мин</span>
    </p>
  </div>

  <hr>



<div class="recipe-detail-ingredients">
    <h2 class="h2"><b>Ингредиенты</b></h2>
    <ul>
        {% for ingredient in recipe.recipe_ingredient.all %}
            <li data-ingredient-id="{{ ingredient.id }}" class="ingredient-info">
                <div class="ingredient-line">
                    <span class="ingredient-name">{{ ingredient.name_ingredient }}</span>
                    <span class="ingredient-dots"></span>
                    <span class="ingredient-amount" id="amount-{{ ingredient.id }}">{{ ingredient.amount|format_decimal }}</span>
                </div>
                <div class="ingredient-units">
                    <form>
                        <select name="unit-selector" data-ingredient-id="{{ ingredient.id }}" data-amount="{{ ingredient.amount }}" data-old-unit="{{ ingredient.unit }}">
                            <option value="{{ ingredient.unit }}">{{ ingredient.unit }}</option>
                        </select>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

  <div class="recipe-detail-cooking-step">
    <h2 class="h2"><b>Шаги приготовления</b></h2>
    <ul>
    {% for cooking_step in recipe.recipe_cooking_step.all %}

      <li class="recipe-detail-step"><b>Шаг {{ forloop.counter }}</b></li>
      <li>{{ cooking_step.description_step }}</li>
        {% if cooking_step.image_step %}
          <li class="recipe-detail-image-step">
            <img src="{{ cooking_step.image_step.url }}" class="full-width-image" alt="Фото шага {{ forloop.counter }}">
          </li>
        {% endif %}
    {% endfor %}
    </ul>
  </div>

    {% if request.user.is_authenticated %}
      {% if request.user == recipe.author %}
        <div class="recipe-detail-button">
            <div class="">
                <a class="btn-blue" href="{% url 'recipes:update_recipe' recipe.slug %}"><span>Редактировать</span></a>
            </div>

            <div class="">
                <a class="btn-red" href="{% url 'recipes:delete_recipe' recipe.pk %}"><span>Удалить рецепт</span></a>
            </div>
        </div>
      {% endif %}
    {% endif %}

</div>

<div id="comments" class="comments-list">
        {% include 'recipes/comments_list.html' %}
</div>


<!--    Данные об аутентификации пользователя-->
<script type="text/javascript">
    var userIsAuthenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
</script>
<!--    Подключение скрипов добавления/удаления избранного-->
<script src="{% static 'recipes/js/add-remove-favorite.js' %}"></script>
<!--    Подключение скрипов добавления/удаления лайков-->
<script src="{% static 'recipes/js/add-remove-like.js' %}"></script>
<!--    Подключение скрипов добавления/удаления корзины-->
<script src="{% static 'recipes/js/add-remove-basket.js' %}"></script>
<!--    Подключение скрипов дли изменения единиц измерения-->
<script src="{% static 'recipes/js/recipe-ingredient-script.js' %}"></script>

{% endblock %}